@font-face {
  font-family: "iconfont"; /* Project id 2583160 */
  src: url('https://at.alicdn.com/t/font_2583160_ply3fcymir.woff2?t=1622799539675') format('woff2'),
       url('https://at.alicdn.com/t/font_2583160_ply3fcymir.woff?t=1622799539675') format('woff'),
       url('https://at.alicdn.com/t/font_2583160_ply3fcymir.ttf?t=1622799539675') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dianhua:before {
  content: "\e605";
}

.icon-jieshubaifang:before {
  content: "\e631";
}

.icon-daifukuan:before {
  content: "\e601";
}

.icon-diannao:before {
  content: "\e61e";
}

.icon-xingxing:before {
  content: "\e632";
}

.icon-dizhi:before {
  content: "\e628";
}

.icon-mima:before {
  content: "\e7c5";
}

.icon-subscriber-square:before {
  content: "\ebf7";
}

.icon-03:before {
  content: "\e607";
}

.icon-bi:before {
  content: "\e608";
}

.icon-passidzhucedianhua:before {
  content: "\e634";
}

.icon-hetong:before {
  content: "\e64e";
}

.icon-banquan:before {
  content: "\e66d";
}

.icon-thin-_bullet_lis:before {
  content: "\e619";
}

.icon-xinbaniconshangchuan-:before {
  content: "\e624";
}

.icon-HNTE:before {
  content: "\e654";
}

.icon-erji:before {
  content: "\e65f";
}

.icon-chakan:before {
  content: "\ef95";
}

.icon-hanhan-01-01:before {
  content: "\e691";
}

.icon-xiangziguanbi:before {
  content: "\e614";
}

.icon-cuowu:before {
  content: "\e62d";
}

.icon-jiantou1:before {
  content: "\e63c";
}

.icon-chilun:before {
  content: "\e658";
}

.icon-xiaoxi:before {
  content: "\e85f";
}

.icon-shaixuan:before {
  content: "\e613";
}

.icon-jiantou:before {
  content: "\e612";
}

.icon-sousuo:before {
  content: "\e633";
}
